#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 16px -4px #888888;
    p {
        color: #111111;
    }
}