#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: linear-gradient(45deg, #1b1b1b 30%, #424242);
    box-shadow: 0 2px 16px -4px #888888;
    p {
        color: #FFFFFF;
    }
}