#header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #111111;
    height: 80px;
    width: 100vw;
    box-shadow: 0 2px 16px -8px #888888;
    margin-bottom: 16px;
    .header_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 1200px;
        .logo_burger {
            #logo {
                font-family: 'Rock Salt', cursive;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 28px;
                a {
                    text-decoration: none;
                    color: #111111;
                }
            }
            .burger {
                display: none;
            }
        }
        #navigation ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            li {
                display: inline-flex;
                margin: 0 16px;
                font-size: 20px;
                a {
                    text-decoration: none;
                    color: #111111;
                    padding-bottom: 4px;
                    &:hover {
                        border-bottom: 2px solid #111111;
                        transition: 0.8s;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    #header {
        height: auto;
        .header_container {
            flex-direction: column;
            margin: auto 16px;
            .logo_burger {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .burger {
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                    margin-top: -12px;
                    cursor: pointer;
                    &.bx-x {
                        font-size: 48px;
                        margin-top: 0;
                        animation: x-rotate 1.5s ease-in-out;
                        &::after {
                            display: none;
                        }
                    }
                    &::after {
                        font-family: "Questrial", sans-serif;
                        content: 'MENU';
                        display: block;
                        position: absolute;
                        bottom: 12px;
                        left: 8px;
                        font-size: 10px;
                    }
                }
            }
            #navigation {
                display: none;
                &.show {
                    display: flex;
                }
                ul {
                flex-direction: column;
                padding: 0;
                    li {
                        padding: 16px 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 340px) {
    #header {
        .header_container {
            .logo_burger {
                .burger {
                    margin-top: -6px;
                    &::after {
                        bottom: 4px;
                    }
                }
            }
            #logo {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}

@keyframes x-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}