#header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #111111;
    height: 80px;
    width: 100vw;
    box-shadow: 0 2px 16px -8px #888888;
    margin-bottom: 16px;
    .header_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 1200px;
        #logo {
            font-family: 'Rock Salt', cursive;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 28px;
            a {
                text-decoration: none;
                color: #111111;
            }
        }
        #navigation ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            li {
                display: inline-flex;
                margin: 0 16px;
                font-size: 20px;
                a {
                    text-decoration: none;
                    color: #111111;
                    padding-bottom: 4px;
                    &:hover {
                        border-bottom: 2px solid #111111;
                        transition: 0.8s;
                    }
                }
            }
        }
    }
}