#hero {
    display: flex;
    height: 600px;
    width: auto;
    .hero_img {
        background: url(./../img/ramen_photo.jpg) no-repeat;
        background-size: 100vw auto;
        content: "";
        display: block;
        width: 100vw;
        height: auto;
    }
}