.swiper {
    position: relative;
    width: 96vw;
    height: 100%;
    overflow-x: hidden;
    padding-bottom: 24px;
    &::before {
        display: block;
        position: absolute;
        content: '';
        background: linear-gradient(to left,rgba(255,255,255,0),#FFFFFF);
        top: 0;
        left: 0;
        width: 16px;
        height: 100%;
        pointer-events: none;
        z-index: 2;
    }
    &::after {
        display: block;
        position: absolute;
        content: '';
        background: linear-gradient(to right,rgba(255,255,255,0),#FFFFFF);
        top: 0;
        right: 0;
        width: 16px;
        height: 100%;
        pointer-events: none;
        z-index: 2;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    .swiper-pagination-bullet-active {
        background-color: #1b1b1b;
    }
}
  
.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    box-shadow: 2px 2px 16px -8px #bbbbbb;
    border: 1px solid #1b1b1b;
    border-radius: 8px;
    height: inherit;
    &:hover {
        filter: brightness(75%);
    }
    .swiper-image-slot img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
    .swiper-description-slot {
        position: absolute;
        bottom: 16px;
        left: 0;
        right: 0;
        background-color: #1b1b1b8a;
        border-top: 1px solid #ebc51d;
        border-bottom: 1px solid #ebc51d;
        h2,
        p {
            color: #ffffff;
            text-align: center;
            text-shadow: 2px 2px 4px #1b1b1b;
            width: auto;
            margin: 16px auto;
        }
    }
}
  
.swiper-horizontal > .swiper-pagination-bullets {
    bottom: 0; 
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #111111;
    background: #FFFFFF;
    padding: 18px 12px;
    font-size: 24px;
    border-radius: 12px;
}
  
.swiper-pagination-bullet-active {
    background-color: #111111;
}

.swiper-button-next {
	right: 16px !important;
}

.swiper-button-prev {
	left: 16px !important;
}

@media (max-width: 600px) {
    .swiper {
        width: 100vw;
    }
    .swiper-description-slot {
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 13px;
        }
    }
    .swiper-slide .swiper-image-slot img {
        height: 360px;
    }
    .swiper .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
}