.swiper {
    width: 70vw;
    height: 100%;
}
  
.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    box-shadow: 2px 2px 16px -8px #bbbbbb;
    margin: 8px;
    height: inherit;
    .swiper-image-slot img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-description-slot {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #bbbbbb9f;
        h2,
        p {
            color: #ffffff;
            text-align: center;
            text-shadow: 2px 2px #111111;
            width: auto;
            margin: 16px auto;
        }
    }
}
  
.swiper-button-next:after,
.swiper-button-prev:after {
    color: #111111;
}
  
.swiper-pagination-bullet-active {
    background-color: #111111;
}

@media (max-width: 600px) {
    .swiper {
        width: 85vw;
    }
    .swiper-description-slot {
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 13px;
        }
    }
    .swiper-slide .swiper-image-slot img {
        height: 360px;
    }
}