@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
#header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #111111;
  height: 80px;
  width: 100vw;
  box-shadow: 0 2px 16px -8px #888888;
  margin-bottom: 16px;
}
#header .header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
}
#header .header_container .logo_burger #logo {
  font-family: "Rock Salt", cursive;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 28px;
}
#header .header_container .logo_burger #logo a {
  text-decoration: none;
  color: #111111;
}
#header .header_container .logo_burger .burger {
  display: none;
}
#header .header_container #navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header .header_container #navigation ul li {
  display: inline-flex;
  margin: 0 16px;
  font-size: 20px;
}
#header .header_container #navigation ul li a {
  text-decoration: none;
  color: #111111;
  padding-bottom: 4px;
}
#header .header_container #navigation ul li a:hover {
  border-bottom: 2px solid #111111;
  transition: 0.8s;
}

@media (max-width: 1000px) {
  #header {
    height: auto;
  }
  #header .header_container {
    flex-direction: column;
    margin: auto 16px;
  }
  #header .header_container .logo_burger {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #header .header_container .logo_burger .burger {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-top: -12px;
  }
  #header .header_container .logo_burger .burger.bx-x {
    font-size: 48px;
    margin-top: 0;
    -webkit-animation: x-rotate 1.5s ease-in-out;
            animation: x-rotate 1.5s ease-in-out;
  }
  #header .header_container .logo_burger .burger.bx-x::after {
    display: none;
  }
  #header .header_container .logo_burger .burger::after {
    font-family: "Questrial", sans-serif;
    content: "MENU";
    display: block;
    position: absolute;
    bottom: 12px;
    left: 8px;
    font-size: 10px;
  }
  #header .header_container #navigation {
    display: none;
  }
  #header .header_container #navigation.show {
    display: flex;
  }
  #header .header_container #navigation ul {
    flex-direction: column;
    padding: 0;
  }
  #header .header_container #navigation ul li {
    padding: 16px 0;
  }
}
@media (max-width: 340px) {
  #header .header_container .logo_burger .burger {
    margin-top: -6px;
  }
  #header .header_container .logo_burger .burger::after {
    bottom: 4px;
  }
  #header .header_container #logo a {
    font-size: 20px;
  }
}
@-webkit-keyframes x-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes x-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper {
  width: 70vw;
  height: 100%;
  overflow-x: hidden;
}

.swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
  box-shadow: 2px 2px 16px -8px #bbbbbb;
  height: inherit;
}
.swiper-slide:hover {
  filter: brightness(75%);
}
.swiper-slide .swiper-image-slot img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slide .swiper-description-slot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(187, 187, 187, 0.6235294118);
}
.swiper-slide .swiper-description-slot h2,
.swiper-slide .swiper-description-slot p {
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px #111111;
  width: auto;
  margin: 16px auto;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #111111;
  text-shadow: 0 0 8px #87d12f;
}

.swiper-pagination-bullet-active {
  background-color: #111111;
}

@media (max-width: 600px) {
  .swiper {
    width: 100vw;
  }
  .swiper-description-slot h2 {
    font-size: 16px;
  }
  .swiper-description-slot p {
    font-size: 13px;
  }
  .swiper-slide .swiper-image-slot img {
    height: 360px;
  }
}
/* listing v1 */
.listing-v1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 70vw;
  margin: 0 auto;
}
.listing-v1 [class*=v1-slot] {
  position: relative;
}
.listing-v1 [class*=v1-slot]:hover {
  filter: brightness(75%);
}
.listing-v1 [class*=v1-slot] .text-slot {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  background-color: rgba(187, 187, 187, 0.6235294118);
}
.listing-v1 [class*=v1-slot] .text-slot p {
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px #111111;
  width: auto;
  margin: 16px auto;
}

.v1-slot01 {
  grid-area: 1/1/3/3;
}

.v1-slot02 {
  grid-area: 1/3/3/5;
}

.v1-slot03 {
  grid-area: 3/1/5/2;
}

.v1-slot04 {
  grid-area: 3/2/5/3;
}

.v1-slot05 {
  grid-area: 3/3/5/4;
}

.v1-slot06 {
  grid-area: 3/4/5/5;
}

.listing-v1 .v1-slot01 img,
.listing-v1 .v1-slot02 img {
  height: 400px;
}

.listing-v1 img,
.listing-v1 .v1-slot03,
.listing-v1 .v1-slot04,
.listing-v1 .v1-slot05,
.listing-v1 .v1-slot06 {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1000px) {
  .listing-v1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .listing-v1 [class*=v1-slot],
.listing-v1 img {
    height: 400px;
  }
  .v1-slot01 {
    grid-area: 1/1/2/2;
  }
  .v1-slot02 {
    grid-area: 1/2/2/3;
  }
  .v1-slot03 {
    grid-area: 2/1/3/2;
  }
  .v1-slot04 {
    grid-area: 2/2/3/3;
  }
  .v1-slot05 {
    grid-area: 3/1/4/2;
  }
  .v1-slot06 {
    grid-area: 3/2/4/3;
  }
}
@media (max-width: 600px) {
  .listing-v1 {
    grid-template-columns: repeat(1, 1fr);
    width: 85vw;
  }
  .v1-slot01 {
    grid-area: 1/1/2/2;
  }
  .v1-slot02 {
    grid-area: 2/1/3/2;
  }
  .v1-slot03 {
    grid-area: 3/1/4/2;
  }
  .v1-slot04 {
    grid-area: 4/1/5/2;
  }
  .v1-slot05 {
    grid-area: 5/1/6/2;
  }
  .v1-slot06 {
    grid-area: 6/1/7/2;
  }
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 16px -4px #888888;
}
#footer p {
  color: #111111;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Questrial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Rock Salt", cursive;
  text-align: center;
}

section > p {
  width: 70vw;
  margin: 24px auto;
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 600px) {
  section > p {
    width: 85vw;
    margin: 16px auto;
    font-size: 16px;
    line-height: 18px;
  }
}/*# sourceMappingURL=style.css.map */