@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import 'header';
@import 'swiper';
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

p {
    width: 80vw;
    margin: 24px auto;
    font-size: 20px;
}